<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body style="background-image: url('../../Content/img/background.png'); background-size: cover;">
    <div>
        @RenderBody()
    </div>
</body>
</html>
