    
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Giới thiệu</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="/Home/Index">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a class="text-white" href="/Demo/Contact">Liên hệ</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="~/Content/img/banner3.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">About the ENGLISH COURSES</h6>
                <h1 class="mb-4">Thông tin về khóa học</h1>
                <p class="mb-4">Tại English Courses, chúng tôi đã giúp hàng triệu học viên chinh phục ước mơ của mình. Cho dù bạn đang ở cấp độ nào, phương pháp học tiếng Anh độc quyền của chúng tôi sẽ giúp bạn học tiếng Anh một cách hiệu quả nhất.</p>
                <p class="mb-4">Sau đây là những đặc quyền khi đã là thành viên của English Courses:</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Được chuyên gia hàng đầu giảng dạy </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Những lớp học online </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Đảm bảo bài tập theo dạng bài thi Tiếng Anh quốc tế</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Đảm bảo cung cấp những tài liệu học tập một cách đầy đủ nhất và không thu phí thêm</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <h5 class="mb-3">Chuyên gia hàng đầu</h5>
                        <p>Khóa học đảm bảo những chuyên gia có bằng thạc sĩ và bằng quốc tế giảng dạy một cách có tâm nhất</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <h5 class="mb-3">Những lớp học trực tuyến</h5>
                        <p>Ngoài những tiết học trên lớp thì sẽ có những lớp học trực tuyến trên English Courses</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-home text-primary mb-4"></i>
                        <h5 class="mb-3">Bài tập</h5>
                        <p>Đảm bảo những bài tập được giao chính xác và là những bài tập chuẩn theo những bài thi quốc tế</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">Tài liệu</h5>
                        <p>English Courses đảm bảo cung cấp những tài liệu học tập một cách đầy đủ nhất và không thu phí thêm</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<div class="container-xxl py-5 category">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Main Courses</h6>
            <h1 class="mb-5">Khóa học chính</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.7s" style="min-height: 350px;">
                <a class="position-relative d-block h-100 overflow-hidden" href="/DeMo/TOEIC">
                    <img class="img-fluid position-absolute w-100 h-100" src="~/Content/img/TIjpg.jpg" alt="" style="object-fit: cover;">
                    <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin:  1px;">
                        <h5 class="m-0">TOEIC</h5>
                        <small class="text-primary">3 Khóa học</small>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.7s" style="min-height: 350px;">
                <a class="position-relative d-block h-100 overflow-hidden" href="/DeMo/IELTS">
                    <img class="img-fluid position-absolute w-100 h-100" src="~/Content/img/IE2.jpg" alt="" style="object-fit: cover;">
                    <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin:  1px;">
                        <h5 class="m-0">IELTS</h5>
                        <small class="text-primary">3 Khóa học</small>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Instructors</h6>
            <h1 class="mb-5">Chuyên gia hàng đầu</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <center>
                            <img class="img-fluid" src="~/Content/img/tolinh1.jpg" style="width: 261px; height: 261px;" />
                        </center>
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href="https://www.facebook.com/ieltstolinh.vn"><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Ms Tố Linh</h5>
                        <small>Chuyên giảng dạy IELTS</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <center>
                            <img class="img-fluid" src="~/Content/img/mshoa1.jpg" style="width: 261px; height: 261px;" />
                        </center>
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href="https://www.facebook.com/tienganhgiaotiep.dinhcao/?locale=vi_VN"><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Ms Hoa</h5>
                        <small>Chuyên giảng dạy IELTS</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <center>
                            <img class="img-fluid" src="~/Content/img/dinhluc1.jpg" style="width: 261px; height: 261px;" />
                        </center>
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href="https://www.facebook.com/dolenglish.toeicdinhluc"><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Mr Đình Lực</h5>
                        <small>Chuyên giảng dạy TOEIC</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <center>
                            <img class="img-fluid" src="~/Content/img/dinhluc2.jpg" style="width: 261px; height: 261px;" />
                        </center>
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href="https://www.facebook.com/thaygiao9x"><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Mr Nguyễn Thái Dương</h5>
                        <small>Chuyên giảng dạy TOEIC</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
