
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}


<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Liên hệ</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="/Home/Index">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a class="text-white" href="/Demo/About">Giới thiệu</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Contact Us</h6>
            <h1 class="mb-5">Liên hệ</h1>
        </div>
        <div class="row g-4" style="justify-content:space-around;">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <h5>Liên lạc với chúng tôi</h5>
                <p class="mb-4">Xin chào, cảm ơn bạn đã liên hệ với chúng tôi. Chúng tôi nhận được tin nhắn của bạn và sẽ trả lời trong thời gian ngắn nhất.</p>
                <div class="d-flex align-items-center mb-3">
                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                        <i class="fa fa-map-marker-alt text-white"></i>
                    </div>
                    <div class="ms-3">
                        <h5 class="text-primary">Địa chỉ</h5>
                        <p class="mb-0">828 Sư Vạn Hạnh,Hồ Chính Minh, Việt Nam</p>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                        <i class="fa fa-phone-alt text-white"></i>
                    </div>
                    <div class="ms-3">
                        <h5 class="text-primary">Điện thoại</h5>
                        <p class="mb-0">028 3863 2052</p>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                        <i class="fa fa-envelope-open text-white"></i>
                    </div>
                    <div class="ms-3">
                        <h5 class="text-primary">Email</h5>
                        <p class="mb-0">tuyensinh@huflit.edu.vn</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="" style="background-image: url(&quot;https://external.fsgn2-9.fna.fbcdn.net/static_map.php?v=2047&amp;theme=default&amp;ccb=4-4&amp;size=544x250&amp;language=vi_VN&amp;scale=2&amp;zoom=12&amp;center=10.775975501915%2C106.66744015745&amp;marker_list[0]=10.775975501915%2C106.66744015745&amp;_nc_client_id=profile&amp;_nc_client_caller=CometStaticMap.react&quot;); background-repeat: no-repeat; background-size: 100% 100%; height: 250px; width: 420px;"></div>
            </div>
        </div>
    </div>
</div>

