
@if (!ViewBag.IsEmpty)
{
    <a href="@Url.Action("GetCartInfo", "Cart")" style="text-decoration: none; color: red; font-weight: bold">
        <img src="~/Content/img/cart.jpg" height="40" /> (@ViewBag.TotalNumber)
    </a>
}

